.background-white {
    background-color: white;
}

button {
    width: 12em;
    height: 3em;
    border-radius: 10em;
    background-color: rgb(252, 119, 30);
    border-color: darkblue;
}

.caption-right {
    color: black;
    text-align: right;
    font-size: 1.5em;
}

form {
    margin-top: 3em;
}

.header-logo {
    margin-top: 1em;
    width: 60%;
}

.history-header {
    color: darkblue;
    margin-bottom: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    border: 5px solid darkblue;
}

.history-text {
    font-size: 1.25em;
    margin-bottom: 2em;
}

#home-banner {
    width: 100%;
}

html {
    background-color: rgb(95, 95, 252);
}

.figure-holder {
    margin: auto;
}

legend {
    color: black;
    font-weight: bold;
}

.main-column {
    margin-top: 5em;
    text-align: center;
}

.reservation {
    margin-top: 5em;
}

.reservation-header {
    color: darkblue;
    font-size: 4em;
    font-weight: bolder;
}

.section-header {
    color: darkblue;
    font-size: 2.75em;
}

.tagline {
    font-size: 1.5em;
}

.team-caption {
    font-size: 1.25em;
    color: black;
}

.team-column {
    margin-top: 5em;
    border: 3px black solid;
}

.team-desc {
    padding-top: 2em;
    width: 80%;
    text-align: center;
    margin: auto;
}

.team-header {
    color: darkblue;
    text-align: center;
}

.team-photo {
    width: 80%;
    margin: auto;
}

.team-slot {
    border: 1px solid black;
    margin-top: 5em;
    text-align: center;
}

.tile-fig {
    margin-top: 2em;
}

.tile-img {
    width: 20em;
    height: 20em;
}